@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

body {
    padding: 0;
    margin: 0;
}


.navbar-header {
    font-size: larger;
    font-weight: 500;
}

#container {
    width: 400px;
    height: 600px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.fill {
    width: 100%;
    height: 100%;
}

.gh-button {
    position: relative;
    top: 2px;
}

.v-spaced {
    margin-bottom: 10px;
}